body {
	overflow: -moz-scrollbars-vertical;
	background: #fff;
	color: #282828;
	font: 62.5% verdana, arial, helvetica, sans-serif;
	margin: 5px 0 0;
	padding: 0;
	text-align: center;
}

a img {
	border: 0;
}

::-moz-selection {
	background:#d4f699;
	color:#7aa62f;
}

::selection {
	background:#d4f699;
	color:#7aa62f;
}

code::-moz-selection {
	background: #535353;
	color:#9dd63c;
}

code::selection {
	background: #535353;
	color:#9dd63c;
}

a:link, a:visited {
	text-decoration: underline;
	font-weight: bold;
	color: #f65077;
}

a:hover, a:active, a:focus {
	color: #4FA3DA;
}

a.rss:link, a.rss:visited {
	color: #ff950b;
}

a.rss:hover, a.rss:active, a.rss:focus {
	color: #8dc036;
}

h1 {
	margin: 0;
	padding: 0;
}

h1 span {
	display: none;
}

h3 {
	background: #7AA62F url(img/title_bg.gif) no-repeat;
	margin: 5px 0 0;
	padding: 1px 0;
	height: 17px;
	width: 401px;
	cursor: pointer;
	font-size: 0.99em;
}

h3 a:link, h3 a:visited {
	color: #fff;
	text-shadow: 2px 2px 1px #8dc036;
	padding: 2px 8px 1px;
	-moz-outline-style: none;
	display: block;
	height: 14px;
	width: 330px;
	text-decoration: none;
}

#container {
	background: url(img/page_bg.gif) top right repeat;
	width: 799px;
	text-align: left;
	margin: 0 auto;
}

#header {
	background: url(img/header.gif) top right no-repeat;
	height: 78px;
}

#content {
	background: url(img/page_bottom.gif) bottom right no-repeat;
	padding: 0 10px 25px 33px;
}

p {
	margin: 0 0 1px;
	padding: 5px;
	line-height: 15px;
}

p b{
	color: #4FA3DA;
	font-weight: bold;
	font-size: 1.1em;
}

p i {
	font-size: 1.1em;
	font-style: normal;
	color: #7AA62F;
}

b.date {
	color: #535353;
	margin-left: 5px;
}

a.big {
	font-size: 1.1em;
}

code {
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
	background: #EBEBEB;
	color: #535353;
}

code b {
	color: #4fa3da;
	font-weight: normal;
}

ol {
	margin: 0;
	padding: 0 0 0 30px;
}

li {
	margin-top: 4px;
}

div.wrapper {
	background-color: #EBEBEB;
}

code.long {
	display: block;
	padding: 3px;
	margin: 0 4px;
}

a.demo {
	-moz-outline-style: none;
	display: block;
	height: 12px;
	width: 38px;
	float: left;
	background: url(img/demo.gif) top left no-repeat;
	margin-right: 2px;
	cursor: pointer;
}

#content div {
	margin: 0;
	padding: 0;
	height: 1%;
}

.stretcher {
	background: none !important;
	width: 450px;
	/*background: #fff;*/
}
#menu {
	height: 300px;
	float: right;
	margin-left: 550px;
	padding-left: 550px;
}


.copy {
	float: right;
	margin-top: 9px;
	margin-right: -6px;
	display: block;
	width: 198px;
	height: 14px;
	background: url(img/copy.gif) top left no-repeat;
}

.copy:hover {
	background-position: bottom left;
}

.copy span {
	display: none;
}

div#ads {
	margin-top: 10px;
}
